.j_center{
    justify-content:center;
     
}
.j_right{
    justify-content :right
   
}
.j_left{ 
    justify-content:left
}
.d_flex{
    display: flex;
}
.d_c_r{

}
.d_inline {
    display: inline ;
}
.d_inline_bloc:{
    display:inline block
}
.m.bottom:{
    margin:bottom;
}
.m_left{
    margin:left
}
.m_x{
    margin:auto 0 auto 0
}